docs/n8n-donna-workflow.json
{
  "name": "Donna Atendimento WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "donna-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "donna-webhook-id"
    },
    {
      "parameters": {
        "jsCode": "// Extrair dados da mensagem do WhatsApp (Evolution API)\nconst body = $input.first().json.body || $input.first().json;\n\n// Dados podem vir em diferentes formatos\nlet phone = '';\nlet message = '';\nlet pushName = '';\n\nif (body.data) {\n  // Formato Evolution API\n  phone = body.data.key?.remoteJid?.replace('@s.whatsapp.net', '') || '';\n  message = body.data.message?.conversation || \n            body.data.message?.extendedTextMessage?.text || '';\n  pushName = body.data.pushName || '';\n} else {\n  // Formato alternativo\n  phone = body.phone || body.from || '';\n  message = body.message || body.text || '';\n  pushName = body.pushName || body.name || '';\n}\n\n// Limpar telefone\nphone = phone.replace(/\\D/g, '');\nif (phone.startsWith('55') && phone.length > 11) {\n  phone = phone; // já tem código do país\n} else if (phone.length === 11 || phone.length === 10) {\n  phone = '55' + phone;\n}\n\n// Data atual formatada\nconst hoje = new Date();\nconst diasSemana = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'];\nconst meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'];\n\nconst dataAtual = `${diasSemana[hoje.getDay()]}, ${hoje.getDate()} de ${meses[hoje.getMonth()]} de ${hoje.getFullYear()}`;\nconst dataISO = hoje.toISOString().split('T')[0];\n\nreturn {\n  phone,\n  message,\n  pushName,\n  dataAtual,\n  dataISO,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "extract_message",
      "name": "Extrair Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "// Configurações do Supabase\nconst SUPABASE_URL = 'SUA_SUPABASE_URL';\nconst SUPABASE_KEY = 'SUA_SUPABASE_KEY';\nconst CLINIC_ID = 'SEU_CLINIC_ID';\n\nconst phone = $input.first().json.phone;\nconst pushName = $input.first().json.pushName;\nconst message = $input.first().json.message;\nconst dataAtual = $input.first().json.dataAtual;\n\n// Buscar histórico de conversa\nlet conversationHistory = [];\nlet leadId = null;\nlet patientId = null;\nlet customerName = pushName || '';\n\ntry {\n  // Buscar conversa existente\n  const convResponse = await fetch(\n    `${SUPABASE_URL}/rest/v1/eva_conversations?phone=eq.${phone}&clinic_id=eq.${CLINIC_ID}&select=*`,\n    {\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`\n      }\n    }\n  );\n  const conversations = await convResponse.json();\n  \n  if (conversations && conversations.length > 0) {\n    const conv = conversations[0];\n    conversationHistory = conv.messages || [];\n    leadId = conv.lead_id;\n    patientId = conv.patient_id;\n    customerName = conv.customer_name || pushName || '';\n  }\n  \n  // Buscar lead existente\n  if (!leadId) {\n    const leadResponse = await fetch(\n      `${SUPABASE_URL}/rest/v1/leads?phone=eq.${phone}&clinic_id=eq.${CLINIC_ID}&select=id,name,stage`,\n      {\n        headers: {\n          'apikey': SUPABASE_KEY,\n          'Authorization': `Bearer ${SUPABASE_KEY}`\n        }\n      }\n    );\n    const leads = await leadResponse.json();\n    if (leads && leads.length > 0) {\n      leadId = leads[0].id;\n      if (leads[0].name && leads[0].name !== 'Lead WhatsApp') {\n        customerName = leads[0].name;\n      }\n    }\n  }\n  \n  // Buscar paciente existente\n  if (!patientId) {\n    const patientResponse = await fetch(\n      `${SUPABASE_URL}/rest/v1/patients?phone=eq.${phone}&clinic_id=eq.${CLINIC_ID}&select=id,name`,\n      {\n        headers: {\n          'apikey': SUPABASE_KEY,\n          'Authorization': `Bearer ${SUPABASE_KEY}`\n        }\n      }\n    );\n    const patients = await patientResponse.json();\n    if (patients && patients.length > 0) {\n      patientId = patients[0].id;\n      customerName = patients[0].name || customerName;\n    }\n  }\n  \n} catch (e) {\n  console.error('Erro ao buscar histórico:', e);\n}\n\n// Limitar histórico às últimas 20 mensagens\nconst recentHistory = conversationHistory.slice(-20);\n\n// Formatar histórico para o modelo\nlet historyText = '';\nif (recentHistory.length > 0) {\n  historyText = '\\n\\nHISTÓRICO DA CONVERSA:\\n';\n  for (const msg of recentHistory) {\n    const role = msg.role === 'user' ? 'Paciente' : 'Donna';\n    historyText += `${role}: ${msg.content}\\n`;\n  }\n}\n\n// Adicionar mensagem atual ao histórico\nconversationHistory.push({\n  role: 'user',\n  content: message,\n  timestamp: new Date().toISOString()\n});\n\nreturn {\n  phone,\n  message,\n  pushName,\n  dataAtual,\n  dataISO: $input.first().json.dataISO,\n  customerName,\n  conversationHistory,\n  historyText,\n  leadId,\n  patientId,\n  clinicId: CLINIC_ID,\n  isNewConversation: recentHistory.length === 0\n};"
      },
      "id": "load_history",
      "name": "Carregar Histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        },
        "messages": {
          "values": [
            {
              "type": "system",
              "message": "={{ $json.systemPrompt }}"
            },
            {
              "type": "user", 
              "message": "={{ $json.userMessage }}"
            }
          ]
        }
      },
      "id": "openai_model",
      "name": "Message a model",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.2,
      "position": [880, 300],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dataAtual = $('Carregar Histórico').first().json.dataAtual;\nconst historyText = $('Carregar Histórico').first().json.historyText;\nconst customerName = $('Carregar Histórico').first().json.customerName;\nconst message = $('Carregar Histórico').first().json.message;\nconst isNew = $('Carregar Histórico').first().json.isNewConversation;\n\nconst systemPrompt = `DATA DE HOJE: ${dataAtual}\n\n# DONNA — Atendente Clínica Sarah Pina\n\n## IDENTIDADE\nVocê é Donna, da Clínica Sarah Pina. Você é comercial — responsável por atendimento, relacionamento e agendamentos via WhatsApp.\n\nNunca diga que é IA, robô, assistente virtual. Você é a Donna.\n\nPersonalidade: acolhedora, elegante e sutil. Conduz sem pressionar. Faz o paciente se sentir especial e naturalmente querer agendar. Não vende procedimento — vende autoestima, confiança e transformação.\n\nTom: refinado mas humano. Afrouxe quando a conversa for leve. Nunca seja fria, nunca seja robótica, nunca repita a mesma estrutura de frase duas vezes seguidas.\n\n## REGRAS DE COMPORTAMENTO\n- Leia o histórico completo antes de responder\n- Nunca ignore o que o paciente já disse ou já respondeu\n- Mensagens curtas: máximo 3–4 linhas por bloco\n- Uma informação por vez, pergunte, espere, avance\n- Emojis: apenas 🤍 ✨ 🌟 — máximo 1 por mensagem\n- Preço: só fale quando perguntar. Sempre valorize antes de precificar\n- Gênero: adapte feminino/masculino após saber o nome\n- Nunca invente procedimentos, equipamentos, horários ou políticas não listados\n${customerName ? `\\nNome do paciente: ${customerName}` : ''}\n\n## PRIMEIRO CONTATO\n${isNew ? 'Esta é uma NOVA conversa. Apresente-se!' : 'Conversa em andamento. NÃO se apresente novamente.'}\n\nPrimeira mensagem de conversa nova:\n\"Olá! Eu sou a Donna, seja muito bem-vindo(a) à Clínica Sarah Pina 🤍\\nTudo bem com você? Como posso te chamar?\"\n\n## FERRAMENTAS DISPONÍVEIS\nVocê tem acesso às seguintes ferramentas. USE IMEDIATAMENTE quando necessário:\n\n| Situação | Ferramenta |\n|----------|------------|\n| Paciente quer horário | consultar_agenda |\n| Confirmar agendamento | criar_agendamento |\n| Registrar interesse | criar_lead |\n| Cadastrar paciente | cadastrar_paciente |\n\n**REGRA ABSOLUTA**: Quando o paciente perguntar horário, USE a ferramenta consultar_agenda IMEDIATAMENTE. Nunca diga \"vou verificar\" sem usar a ferramenta.\n\n## INFORMAÇÕES DA CLÍNICA\n- Endereço: Roosevelt de Oliveira, 305 – Centro, Uberlândia\n- Funcionamento: 8h às 20h — somente com hora marcada\n- Pagamento: cartão em até 12x sem juros | PIX ou dinheiro com 5% de desconto\n\n## PROFISSIONAIS\n\n### Dra. Amanda ⭐ (PREFERÊNCIA)\nSegunda a sexta: 09h às 12h e 13h30 às 19h\nFaz: Microvasos, Enzimas, Microagulhamento, Limpeza, Carboxiterapia, Botox, Preenchimento, Bioestimulador\nNÃO faz: Fios de PDO\n\n### Dra. Sarah\nSegunda: 13h30–19h | Terça: 09h–12h | Quarta: 13h30–19h | Quinta: NÃO ATENDE | Sexta: 13h30–19h\nFaz: Botox, Preenchimento, Bioestimulador, Fios de PDO, Protocolo Glúteo\nNÃO faz: Microvasos, Limpeza, Enzimas, Microagulhamento, Carboxiterapia\n\n## PROCEDIMENTOS E VALORES (12x sem juros)\n\n### Botox (Letybo ou Dysport) - retorno em 15 dias\n- 1 região: 12x R$50\n- Terço superior (testa, glabela, pés de galinha): 12x R$90 ⭐ PRIORIZAR\n- Rosto + pescoço: 12x R$125\n\n### Clube do Botox ⭐ (mencionar após interesse em botox)\n- 2x ao ano: 12x R$163,33\n- 3x ao ano: 12x R$225\nInclui avaliação completa + kit skincare\n\n### Preenchimento (Cimed ou Rennova) - retorno em 15 dias\n- Por região (lábios, nariz, olheira, queixo): 12x R$90/ml\n- Full face: requer avaliação\n\n### Bioestimulador (Sculptra, Elleva, Milimétric)\n- Facial ou corporal: 12x R$166\n\n### Protocolo de Glúteo\n- 12x R$208 (ácido hialurônico + bioestimulador 100ml)\n\n### Fios de PDO (só Dra. Sarah)\n- Fio Filler: 12x R$13/fio\n- Fio Espiculado: 12x R$30/fio\n\n### Microvasos (só Dra. Amanda)\n- 1 sessão: R$200 (12x R$16)\n- Pacote 3 sessões: R$180 cada\n\n### Outros (Dra. Amanda)\n- Enzimas: 12x R$10\n- Microagulhamento: 12x R$38\n- Limpeza de pele: 12x R$20\n- Carboxiterapia: 12x R$12,50\n- Remoção de preenchimento: 10x R$50\n\n### Lavieen ⭐ (mencionar naturalmente)\nDe R$350 por R$250 — 12x R$20\nInclui: PDRN, ativos, anestésico + kit skincare\nPróximas datas: 07/05 | 11/06 | 09/07\n\n## DURAÇÃO DOS PROCEDIMENTOS\n- 30min: Botox, Preenchimento, Remoção, Fios PDO, Enzimas, Carboxiterapia\n- 1h: Microvasos, Microagulhamento, Bioestimulador, Protocolo Glúteo\n- 2h: Limpeza de pele\n- 15min: Lavieen\n\n## COMO VENDER\n1. Benefício/resultado do procedimento\n2. Valor parcelado\n3. Desconto à vista (se perguntar)\n4. Mini fechamento: \"Posso ver um horário pra você?\"\n\n## CONFIRMAÇÃO DE AGENDAMENTO\nApós usar criar_agendamento com sucesso, envie EXATAMENTE:\n\n✨ Seu atendimento está confirmado aqui na Clínica Sarah Pina! ✨\n\n📅 Data: [dia da semana], [data completa]\n⏰ Horário: [horário]\n📍 Endereço: Roosevelt de Oliveira, 305 – Centro, Uberlândia\n\nA Dra. [nome] reservou esse horário com todo carinho para te receber 💆‍♀️🌷\n\nSe surgir imprevisto, me avise com antecedência, combinado? 💬\n\nSerá um prazer te receber!\n\n## ESCALAÇÃO\nEncaminhe ao setor quando:\n- Reclamações → \"Vou passar para a Dra. Sarah pessoalmente\"\n- Dúvidas médicas específicas\n- Desconto especial\n- Procedimento não listado → \"Não tenho essa informação agora, mas verifico com o setor e já te retorno 🤍\"\n\nNunca diga: \"equipe humana\", \"atendente humana\", \"pessoa real\"\nSempre diga: \"setor\", \"equipe\", \"Dra. Sarah\", \"Dra. Amanda\"\n${historyText}`;\n\nconst userMessage = message;\n\nreturn {\n  systemPrompt,\n  userMessage,\n  ...($('Carregar Histórico').first().json)\n};"
      },
      "id": "prepare_prompt",
      "name": "Preparar Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "name": "consultar_agenda",
        "description": "Consulta horários disponíveis na agenda da clínica. Use SEMPRE antes de falar horários. Parâmetro: data (pode ser 'hoje', 'amanhã', 'segunda', '15/04', '2026-04-15', etc)",
        "code": "// Configurações\nconst SUPABASE_URL = 'SUA_SUPABASE_URL';\nconst SUPABASE_KEY = 'SUA_SUPABASE_KEY';\nconst CLINIC_ID = 'SEU_CLINIC_ID';\nconst DRA_SARAH_ID = 'ID_DRA_SARAH';\nconst DRA_AMANDA_ID = 'ID_DRA_AMANDA';\n\n// Parser de data flexível\nfunction parseData(input) {\n  const hoje = new Date();\n  const ano = hoje.getFullYear();\n  const mes = hoje.getMonth();\n  const dia = hoje.getDate();\n  \n  const texto = String(input).toLowerCase().trim();\n  \n  if (texto === 'hoje') return hoje;\n  if (texto === 'amanhã' || texto === 'amanha') return new Date(ano, mes, dia + 1);\n  \n  const diasSemana = {\n    'domingo': 0, 'segunda': 1, 'terca': 2, 'terça': 2,\n    'quarta': 3, 'quinta': 4, 'sexta': 5, 'sabado': 6, 'sábado': 6\n  };\n  \n  for (const [nome, diaSem] of Object.entries(diasSemana)) {\n    if (texto.includes(nome)) {\n      const d = new Date(ano, mes, dia);\n      const diff = (diaSem - d.getDay() + 7) % 7 || 7;\n      d.setDate(d.getDate() + diff);\n      return d;\n    }\n  }\n  \n  // DD/MM/YYYY ou DD/MM\n  const matchBarra = texto.match(/(\\d{1,2})\\/(\\d{1,2})(?:\\/(\\d{2,4}))?/);\n  if (matchBarra) {\n    let [_, d, m, a] = matchBarra;\n    a = a ? (a.length === 2 ? '20' + a : a) : ano;\n    return new Date(parseInt(a), parseInt(m) - 1, parseInt(d));\n  }\n  \n  // YYYY-MM-DD\n  const matchISO = texto.match(/(\\d{4})-(\\d{2})-(\\d{2})/);\n  if (matchISO) {\n    const [_, a, m, d] = matchISO;\n    return new Date(parseInt(a), parseInt(m) - 1, parseInt(d));\n  }\n  \n  // \"dia 17\"\n  const matchDia = texto.match(/(?:dia\\s+)?(\\d{1,2})/);\n  if (matchDia) {\n    return new Date(ano, mes, parseInt(matchDia[1]));\n  }\n  \n  return null;\n}\n\n// Pegar input\nconst input = $input.item.json.query || $input.item.json.data || $input.item.json;\nlet dataParam = typeof input === 'string' ? input : (input.data || input.date || 'hoje');\n\nconst dataObj = parseData(dataParam);\n\nif (!dataObj || isNaN(dataObj.getTime())) {\n  return { response: `Não entendi a data \"${dataParam}\". Pode ser: \"hoje\", \"amanhã\", \"segunda\", \"15/04\"` };\n}\n\nconst diaSemana = dataObj.getDay();\nconst diaNum = dataObj.getDate();\nconst mesNum = dataObj.getMonth();\nconst anoNum = dataObj.getFullYear();\nconst dateStr = `${anoNum}-${String(mesNum+1).padStart(2,'0')}-${String(diaNum).padStart(2,'0')}`;\n\nconst diasPtBr = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\n\nif (diaSemana === 0 || diaSemana === 6) {\n  return { response: `${diasPtBr[diaSemana]}, ${diaNum}/${mesNum+1} é fim de semana. A clínica funciona segunda a sexta.` };\n}\n\n// Horários das profissionais\nconst HORARIOS_SARAH = {\n  1: ['13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n  2: ['09:00', '09:30', '10:00', '10:30', '11:00', '11:30'],\n  3: ['13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n  4: [],\n  5: ['13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n};\n\nconst HORARIOS_AMANDA = {\n  1: ['09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n  2: ['09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n  3: ['09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n  4: ['09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n  5: ['09:00', '09:30', '10:00', '10:30', '11:00', '11:30', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30', '18:00', '18:30'],\n};\n\n// Buscar ocupados\nlet ocupados = [];\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/appointments?clinic_id=eq.${CLINIC_ID}&start_time=gte.${dateStr}T00:00:00&start_time=lte.${dateStr}T23:59:59&status=neq.cancelled`,\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  ocupados = response || [];\n} catch (e) {}\n\nconst extrairHora = (s) => { const m = s.match(/T(\\d{2}:\\d{2})/); return m ? m[1] : null; };\n\nconst ocupSarah = ocupados.filter(a => a.professional_id === DRA_SARAH_ID).map(a => extrairHora(a.start_time)).filter(h => h);\nconst ocupAmanda = ocupados.filter(a => a.professional_id === DRA_AMANDA_ID).map(a => extrairHora(a.start_time)).filter(h => h);\n\nconst dispSarah = (HORARIOS_SARAH[diaSemana] || []).filter(h => !ocupSarah.includes(h));\nconst dispAmanda = (HORARIOS_AMANDA[diaSemana] || []).filter(h => !ocupAmanda.includes(h));\n\nlet resp = `HORÁRIOS ${diasPtBr[diaSemana].toUpperCase()} ${diaNum}/${mesNum+1}:\\n\\n`;\n\nif (diaSemana === 4) {\n  resp += `Dra. Sarah: não atende quinta\\n`;\n} else if (dispSarah.length === 0) {\n  resp += `Dra. Sarah: sem horário\\n`;\n} else {\n  resp += `Dra. Sarah: ${dispSarah.slice(0,4).join(', ')}\\n`;\n}\n\nif (dispAmanda.length === 0) {\n  resp += `Dra. Amanda: sem horário`;\n} else {\n  resp += `Dra. Amanda: ${dispAmanda.slice(0,4).join(', ')}`;\n}\n\nresp += `\\n\\nOFEREÇA MÁXIMO 2 HORÁRIOS. Priorize Dra. Amanda.`;\n\nreturn { response: resp };"
      },
      "id": "tool_consultar_agenda",
      "name": "consultar_agenda",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [880, 520]
    },
    {
      "parameters": {
        "name": "criar_agendamento",
        "description": "Cria um agendamento na clínica. Parâmetros obrigatórios: data (YYYY-MM-DD), horario (HH:MM), profissional ('amanda' ou 'sarah'), nome_completo (nome completo do paciente)",
        "code": "// Configurações\nconst SUPABASE_URL = 'SUA_SUPABASE_URL';\nconst SUPABASE_KEY = 'SUA_SUPABASE_KEY';\nconst CLINIC_ID = 'SEU_CLINIC_ID';\nconst DRA_SARAH_ID = 'ID_DRA_SARAH';\nconst DRA_AMANDA_ID = 'ID_DRA_AMANDA';\n\nconst input = $input.item.json.query || $input.item.json;\nlet params;\ntry {\n  params = typeof input === 'string' ? JSON.parse(input) : input;\n} catch (e) {\n  params = input;\n}\n\nconst data = params.data || params.date;\nconst horario = params.horario || params.time || params.hora;\nconst profissional = params.profissional || params.professional || 'amanda';\nconst nomeCompleto = params.nome_completo || params.nome || params.name;\n\nif (!data || !horario) {\n  return { response: 'ERRO: Preciso da data (YYYY-MM-DD) e horário (HH:MM) para agendar.' };\n}\n\nif (!nomeCompleto || nomeCompleto.length < 5 || nomeCompleto.toLowerCase().includes('lead')) {\n  return { response: 'ERRO: Preciso do NOME COMPLETO do paciente para agendar. Pergunte: \"Me passa seu nome completo para confirmar?\"' };\n}\n\nconst professionalId = profissional.toLowerCase().includes('sarah') ? DRA_SARAH_ID : DRA_AMANDA_ID;\nconst professionalName = profissional.toLowerCase().includes('sarah') ? 'Dra. Sarah' : 'Dra. Amanda';\n\nconst startTime = `${data}T${horario}:00`;\nconst endTime = `${data}T${(parseInt(horario.split(':')[0]) + 1).toString().padStart(2, '0')}:${horario.split(':')[1]}:00`;\n\n// Buscar ou criar paciente\nlet patientId = null;\nconst phone = $('Carregar Histórico').first().json.phone;\n\ntry {\n  // Buscar paciente existente\n  const patientResponse = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/patients?phone=eq.${phone}&clinic_id=eq.${CLINIC_ID}&select=id`,\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  \n  if (patientResponse && patientResponse.length > 0) {\n    patientId = patientResponse[0].id;\n    // Atualizar nome se necessário\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/patients?id=eq.${patientId}`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ name: nomeCompleto })\n    });\n  } else {\n    // Criar paciente\n    const newPatient = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/patients`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n      body: JSON.stringify({ clinic_id: CLINIC_ID, name: nomeCompleto, phone: phone })\n    });\n    patientId = newPatient[0]?.id;\n  }\n  \n  // Criar agendamento\n  const appointment = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/appointments`,\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n    body: JSON.stringify({\n      clinic_id: CLINIC_ID,\n      patient_id: patientId,\n      professional_id: professionalId,\n      start_time: startTime,\n      end_time: endTime,\n      status: 'scheduled',\n      notes: 'Agendado via WhatsApp - Donna'\n    })\n  });\n  \n  // Atualizar lead para scheduled\n  await this.helpers.httpRequest({\n    method: 'PATCH',\n    url: `${SUPABASE_URL}/rest/v1/leads?phone=eq.${phone}&clinic_id=eq.${CLINIC_ID}`,\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n    body: JSON.stringify({ stage: 'scheduled', name: nomeCompleto })\n  });\n  \n  const diasPtBr = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado'];\n  const dataObj = new Date(data + 'T12:00:00');\n  const diaSemana = diasPtBr[dataObj.getDay()];\n  const dataFormatada = `${dataObj.getDate().toString().padStart(2,'0')}/${(dataObj.getMonth()+1).toString().padStart(2,'0')}/${dataObj.getFullYear()}`;\n  \n  return { \n    response: `AGENDAMENTO CONFIRMADO!\\n\\nPaciente: ${nomeCompleto}\\nData: ${diaSemana}, ${dataFormatada}\\nHorário: ${horario}\\nProfissional: ${professionalName}\\n\\nAgora envie a mensagem de confirmação padronizada ao paciente.`\n  };\n  \n} catch (e) {\n  return { response: `ERRO ao criar agendamento: ${e.message}. Tente novamente.` };\n}"
      },
      "id": "tool_criar_agendamento",
      "name": "criar_agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [1000, 520]
    },
    {
      "parameters": {
        "name": "criar_lead",
        "description": "Cria ou atualiza um lead no CRM. Parâmetros: nome (nome do paciente), interesse (procedimento de interesse), status ('new', 'contacted', 'qualified', 'scheduled')",
        "code": "// Configurações\nconst SUPABASE_URL = 'SUA_SUPABASE_URL';\nconst SUPABASE_KEY = 'SUA_SUPABASE_KEY';\nconst CLINIC_ID = 'SEU_CLINIC_ID';\n\nconst input = $input.item.json.query || $input.item.json;\nlet params;\ntry {\n  params = typeof input === 'string' ? JSON.parse(input) : input;\n} catch (e) {\n  params = input;\n}\n\nconst nome = params.nome || params.name || '';\nconst interesse = params.interesse || params.interest || '';\nconst status = params.status || params.stage || 'contacted';\nconst phone = $('Carregar Histórico').first().json.phone;\n\ntry {\n  // Verificar se lead existe\n  const existingLead = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/leads?phone=eq.${phone}&clinic_id=eq.${CLINIC_ID}&select=id`,\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  \n  const leadData = {\n    clinic_id: CLINIC_ID,\n    phone: phone,\n    source: 'whatsapp',\n    stage: status\n  };\n  \n  if (nome && nome.length > 1) leadData.name = nome;\n  if (interesse) leadData.interest = interesse;\n  \n  if (existingLead && existingLead.length > 0) {\n    // Atualizar\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/leads?id=eq.${existingLead[0].id}`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify(leadData)\n    });\n    return { response: `Lead atualizado: ${nome || 'sem nome'} - ${interesse || 'sem interesse'} - ${status}` };\n  } else {\n    // Criar\n    if (!leadData.name) leadData.name = 'Lead WhatsApp';\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/leads`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify(leadData)\n    });\n    return { response: `Lead criado: ${leadData.name} - ${interesse || 'sem interesse'} - ${status}` };\n  }\n} catch (e) {\n  return { response: `Erro ao salvar lead: ${e.message}` };\n}"
      },
      "id": "tool_criar_lead",
      "name": "criar_lead",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [1120, 520]
    },
    {
      "parameters": {
        "name": "cadastrar_paciente",
        "description": "Cadastra ou atualiza um paciente. Parâmetro obrigatório: nome (nome completo do paciente)",
        "code": "// Configurações\nconst SUPABASE_URL = 'SUA_SUPABASE_URL';\nconst SUPABASE_KEY = 'SUA_SUPABASE_KEY';\nconst CLINIC_ID = 'SEU_CLINIC_ID';\n\nconst input = $input.item.json.query || $input.item.json;\nlet params;\ntry {\n  params = typeof input === 'string' ? JSON.parse(input) : input;\n} catch (e) {\n  params = input;\n}\n\nconst nome = params.nome || params.name || '';\nconst phone = $('Carregar Histórico').first().json.phone;\n\nif (!nome || nome.length < 3) {\n  return { response: 'ERRO: Nome do paciente é obrigatório.' };\n}\n\ntry {\n  // Verificar se paciente existe\n  const existing = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/patients?phone=eq.${phone}&clinic_id=eq.${CLINIC_ID}&select=id`,\n    headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n  });\n  \n  if (existing && existing.length > 0) {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/patients?id=eq.${existing[0].id}`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ name: nome })\n    });\n    return { response: `Paciente atualizado: ${nome}` };\n  } else {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${SUPABASE_URL}/rest/v1/patients`,\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ clinic_id: CLINIC_ID, name: nome, phone: phone })\n    });\n    return { response: `Paciente cadastrado: ${nome}` };\n  }\n} catch (e) {\n  return { response: `Erro ao cadastrar paciente: ${e.message}` };\n}"
      },
      "id": "tool_cadastrar_paciente",
      "name": "cadastrar_paciente",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [1240, 520]
    },
    {
      "parameters": {
        "jsCode": "// Limpar resposta da IA\nlet answer = $input.first().json.text || $input.first().json.content || $input.first().json.output || '';\n\n// Remover prefixos comuns\nanswer = answer.replace(/^(Donna:|Eva:|Assistente:|Assistant:)/gi, '').trim();\n\n// Remover marcadores de código\nanswer = answer.replace(/```[\\s\\S]*?```/g, '').trim();\n\n// Remover \\n literais e substituir por quebras reais\nanswer = answer.replace(/\\\\n/g, '\\n');\n\n// Limitar tamanho\nif (answer.length > 1500) {\n  answer = answer.substring(0, 1500) + '...';\n}\n\nreturn {\n  answer,\n  phone: $('Carregar Histórico').first().json.phone,\n  conversationHistory: $('Carregar Histórico').first().json.conversationHistory,\n  customerName: $('Carregar Histórico').first().json.customerName,\n  clinicId: $('Carregar Histórico').first().json.clinicId\n};"
      },
      "id": "clean_answer",
      "name": "Limpar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// Salvar conversa no banco\nconst SUPABASE_URL = 'SUA_SUPABASE_URL';\nconst SUPABASE_KEY = 'SUA_SUPABASE_KEY';\n\nconst phone = $input.first().json.phone;\nconst clinicId = $input.first().json.clinicId;\nconst customerName = $input.first().json.customerName;\nconst answer = $input.first().json.answer;\nlet conversationHistory = $input.first().json.conversationHistory || [];\n\n// Adicionar resposta da IA ao histórico\nconversationHistory.push({\n  role: 'assistant',\n  content: answer,\n  timestamp: new Date().toISOString()\n});\n\n// Limitar a 50 mensagens\nif (conversationHistory.length > 50) {\n  conversationHistory = conversationHistory.slice(-50);\n}\n\ntry {\n  // Verificar se conversa existe\n  const existing = await fetch(\n    `${SUPABASE_URL}/rest/v1/eva_conversations?phone=eq.${phone}&clinic_id=eq.${clinicId}&select=id`,\n    {\n      headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}` }\n    }\n  );\n  const convs = await existing.json();\n  \n  const convData = {\n    clinic_id: clinicId,\n    phone: phone,\n    customer_name: customerName,\n    messages: conversationHistory,\n    updated_at: new Date().toISOString()\n  };\n  \n  if (convs && convs.length > 0) {\n    // Atualizar\n    await fetch(\n      `${SUPABASE_URL}/rest/v1/eva_conversations?id=eq.${convs[0].id}`,\n      {\n        method: 'PATCH',\n        headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n        body: JSON.stringify(convData)\n      }\n    );\n  } else {\n    // Criar\n    await fetch(\n      `${SUPABASE_URL}/rest/v1/eva_conversations`,\n      {\n        method: 'POST',\n        headers: { 'apikey': SUPABASE_KEY, 'Authorization': `Bearer ${SUPABASE_KEY}`, 'Content-Type': 'application/json' },\n        body: JSON.stringify(convData)\n      }\n    );\n  }\n} catch (e) {\n  console.error('Erro ao salvar conversa:', e);\n}\n\nreturn {\n  answer,\n  phone\n};"
      },
      "id": "save_conversation",
      "name": "Salvar Conversa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $env.EVOLUTION_INSTANCE }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": {{ JSON.stringify($json.answer) }}\n}",
        "options": {}
      },
      "id": "send_whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EVOLUTION_CREDENTIAL_ID",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Processed' }) }}",
        "options": {}
      },
      "id": "response",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1760, 300]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [{ "node": "Extrair Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Extrair Mensagem": {
      "main": [
        [{ "node": "Carregar Histórico", "type": "main", "index": 0 }]
      ]
    },
    "Carregar Histórico": {
      "main": [
        [{ "node": "Preparar Prompt", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Prompt": {
      "main": [
        [{ "node": "Message a model", "type": "main", "index": 0 }]
      ]
    },
    "Message a model": {
      "main": [
        [{ "node": "Limpar Resposta", "type": "main", "index": 0 }]
      ]
    },
    "consultar_agenda": {
      "ai_tool": [
        [{ "node": "Message a model", "type": "ai_tool", "index": 0 }]
      ]
    },
    "criar_agendamento": {
      "ai_tool": [
        [{ "node": "Message a model", "type": "ai_tool", "index": 0 }]
      ]
    },
    "criar_lead": {
      "ai_tool": [
        [{ "node": "Message a model", "type": "ai_tool", "index": 0 }]
      ]
    },
    "cadastrar_paciente": {
      "ai_tool": [
        [{ "node": "Message a model", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Limpar Resposta": {
      "main": [
        [{ "node": "Salvar Conversa", "type": "main", "index": 0 }]
      ]
    },
    "Salvar Conversa": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [{ "node": "Responder Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-17T00:00:00.000Z",
  "versionId": "1"
}
